body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 24px 0;
}
.wrapper {
    margin: auto 24px;
}
a {
    color: rgb(0 0 0);
    text-decoration: none;
}
a:hover {
    color: #BF4A4A;
}
.top-menu {
    a {
        font-size: 14px;
    }
}
header {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.max-width {
    max-width: 50%;
}
.button {
    background: #BF4A4A;
    color: rgb(255 255 255);
    font-size: 14px;
    line-height: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
    display: flex;
    gap: 4px;
}
.button:hover {
    background: #A03C3C;
    color: #ffffff;
}
.profile-picture {
    text-align: center;
}
.social-media {
    display: inline-flex;
    gap: 8px;
    justify-content: center;
}
.social-media a:hover {
    opacity: .8;
}