body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 24px 0;
}
.wrapper {
    margin: auto 24px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    text-align: center;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
p {
    margin: 0;
}
a {
    color: rgb(0 0 0);
    text-decoration: none;
}
a:hover {
    color: #BF4A4A;
}
.top-menu {
    a {
        font-size: 14px;
    }
}
header {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.max-width {
    max-width: 50%;
}
.button {
    background: #BF4A4A;
    color: rgb(255 255 255);
    font-size: 14px;
    line-height: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
    display: flex;
    gap: 8px;
    justify-content: center;
}
.button-large {
    display: inline-flex;
    padding: 12px 20px;
    margin: auto;
}
.button:hover {
    background: #A03C3C;
    color: #ffffff;
}
.profile-picture {
    text-align: center;
}
.social-media {
    display: inline-flex;
    gap: 8px;
    justify-content: center;
}
.social-media a:hover {
    opacity: .8;
}
.about-us,
.skills,
.skills-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.skills-wrapper {
    flex-direction: row;
    padding-left: 24px;
}
.skill-item {
    background: #F5F5F5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    align-items: center;
    gap: 16px;

    .skill-image {
        display: flex;
        background: #D9D9D9;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        justify-content: center;
    }

    img {
        display: block;
        width: 32px;
    }
}